<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hinnka.tsbrowser">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 添加 Android 11 存储权限注册到清单文件中 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--前台服务-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!--声明使用 KeyChain API 的权限-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!--忽略电量优化-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <!-- 允许访问振动设备 -->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->
    <!--&lt;!&ndash; 网络相关权限；MTA统计必选权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--&lt;!&ndash; 查看帐户需要权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--&lt;!&ndash; 添加帐户需要权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->
    <!--&lt;!&ndash;android:maxSdkVersion="22"&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->

    <!--&lt;!&ndash;声明使用 KeyChain API 的权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->

    <!--&lt;!&ndash; 允许安装未知来源的app &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->
    <!--&lt;!&ndash; <uses-permission android:name="android.permission.WRITE_SETTINGS" /> &ndash;&gt;-->
    <!--&lt;!&ndash; 挂载、反挂载外部文件系统 &ndash;&gt;-->
    <!--&lt;!&ndash; <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> &ndash;&gt;-->
    <!--&lt;!&ndash; 读取系统底层日志 &ndash;&gt;-->
    <!--&lt;!&ndash; <uses-permission android:name="android.permission.READ_LOGS" /> &ndash;&gt;-->
    <!--&lt;!&ndash; 允许程序在手机屏幕关闭后后台进程仍然运行 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />-->
    <!--&lt;!&ndash; [尝试] 防止左右滑动时的报错 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--&lt;!&ndash; 通过WiFi或移动基站的方式获取用户错略的经纬度信息，定位精度大概误差在30~1500米 &ndash;&gt;-->
    <!--&lt;!&ndash; <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> &ndash;&gt;-->
    <!--&lt;!&ndash; 读取，写出外置SD卡内容的权限该目录 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--&lt;!&ndash; 添加 Android 11 存储权限注册到清单文件中 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--&lt;!&ndash;前台服务&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->

    <!--<queries>-->
    <!--    <intent>-->
    <!--        <action android:name="android.intent.action.SEND" />-->
    <!--        <data android:mimeType="*/*" />-->
    <!--    </intent>-->

    <!--    <intent>-->
    <!--        <action android:name="android.intent.action.VIEW" />-->
    <!--        <data android:scheme="*" />-->
    <!--    </intent>-->
    <!--    &lt;!&ndash;<category android:name="android.intent.category.BROWSABLE" />&ndash;&gt;-->
    <!--    <intent>-->
    <!--        <action android:name="android.support.customtabs.action.CustomTabsService" />-->
    <!--    </intent>-->

    <!--    <intent>-->
    <!--        <action android:name="android.intent.action.TTS_SERVICE" />-->
    <!--    </intent>-->
    <!--</queries>-->

    <!--android：usesCleartextTraffic 指示应用程序是否打算使用明文网络流量，例如明文HTTP。目标API级别为27或更低的应用程序的默认值为“ true”。面向API级别28或更高级别的应用默认为“ false”。-->

    <!--android:appComponentFactory="com.hinnka.tsbrowser"  ,android:appComponentFactory-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:fullBackupOnly="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:persistent="true"
        android:hardwareAccelerated="true"

        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.TSBrowser"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:networkSecurityConfig"
        tools:targetApi="tiramisu">

        <!--tools:replace="android:networkSecurityConfig,android:appComponentFactory"-->
        <!--tools:targetApi="q"-->
        <!--tools:targetApi="m"-->
        <!--启用安全浏览检查。避免 google 收集数据 -->
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false" />
        <!--停用错误数据的收集-->
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <!--<meta-data android:name="android.max_aspect" android:value="2.3"/>-->


        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--默认情况下，谷歌会私自上传WebView的崩溃日志，用来帮助谷歌更改的对WebView进行改善，对于每个实例化了WebView的应用程序，数据的收集是以每个应用为基础的。单个应用程序可以通过在其清单中加入以下标签来选择不使用该功能-->
            <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_BROWSER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/vnd.wap.xhtml+xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <!--<data android:scheme="about"/>-->
                <!--<data android:scheme="javascript"/>-->
            </intent-filter>
            <!--
                  For these schemes where any of these particular MIME types
                  have been supplied, we are a good candidate.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="inline"/>
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/vnd.wap.xhtml+xml"/>
            </intent-filter>
            <!-- For viewing saved web archives. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
                <data android:mimeType="application/x-webarchive-xml"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--<data android:scheme="http"/>-->
                <!--<data android:scheme="https"/>-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter android:icon="@mipmap/ic_launcher" >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!--向文字选择工具栏中添加自定义操作-->
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.home.SecretActivity"
            android:exported="false"
            android:label="@string/secret_name"
            android:excludeFromRecents="true"
            android:process=":secret"
            android:taskAffinity="browser.secret"
            android:theme="@style/Theme.TSBrowser.Secret"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ui.CaptureActivity"
            android:screenOrientation="user"
            android:theme="@style/CaptureTheme"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".util.SecretReceiver"
            android:exported="false"
            android:process=":secret">
            <intent-filter>
                <action android:name="${applicationId}.action.secret" />
            </intent-filter>
        </receiver>


        <!--1像素Activity-->
        <activity
            android:name="cc.ibooker.zkeepalivelib.keep.OnePixelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OnePixelActivityStyle" />
        <!--开屏和闭屏监听-->
        <receiver
            android:name="cc.ibooker.zkeepalivelib.receivers.ScreenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <!--锁屏-->
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!--前置服务-->
        <service
            android:name="cc.ibooker.zkeepalivelib.keep.ForeService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cc.ibooker.zkeepalivelib.keep_fore_service" />
            </intent-filter>
        </service>
    </application>

</manifest>
